In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
mydata = pd.read_csv('mydata.csv')

/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
mydata

   sem  hours  sgpa
0    1      1  6.25
1    2      2  7.00
2    3      2  7.35
3    4      2  7.74
4    5      3  8.42
5    6      4  8.52
6    7      2  8.40
7    8      2   NaN

In [3]:
sem = mydata['sem']
hrs = mydata['hours']
sgpa = mydata['sgpa']

In [4]:
med = sgpa.median()

In [5]:
mydata['sgpa'] = sgpa.fillna(med)
mydata.sgpa

0    6.25
1    7.00
2    7.35
3    7.74
4    8.42
5    8.52
6    8.40
7    7.74
Name: sgpa, dtype: float64

In [6]:
marks = linear_model.LinearRegression()

In [7]:
marks.fit(mydata[['sem','hours']],mydata.sgpa)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
marks.coef_

array([0.17840659, 0.47384615])

In [9]:
marks.intercept_

5.808516483516485

In [14]:
eighthsem_marks = marks.predict([[8,1]])
new_marks = float(eighthsem_marks)

In [16]:
mydata['sgpa'][7]= new_marks

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
mydata

   sem  hours      sgpa
0    1      1  6.250000
1    2      2  7.000000
2    3      2  7.350000
3    4      2  7.740000
4    5      3  8.420000
5    6      4  8.520000
6    7      2  8.400000
7    8      2  7.709615

In [49]:
# from mpl_toolkits import mplot3d
# %matplotlib inline
# import numpy as np
# import matplotlib.pyplot as plt
# fig = plt.figure()
# ax = plt.axes(projection='3d')
# ax = plt.axes(projection='3d')
# zline = np.linspace(0, 15, 1000)
# xline = np.sin(zline)
# yline = np.cos(zline)
# ax.plot3D(xline, yline, zline, 'gray')
# sem = mydata['sem']
# sem

# hrs = mydata['hours']
# hrs

# sgpa = mydata['sgpa']
# sgpa

# ax.scatter3D(sem,sgpa,hrs,c=sem,cmap='Greens');